.sw?
.*.sw?
*.beam
*.plt
/.erlang.mk/
/cover/
/deps/
/doc/
/ebin/
/escript/
/escript.lock
/logs/
/plugins/
/plugins.lock
/sbin/
/sbin.lock
/xrefr
erl_crash.dump

elvis
elvis.config
.DS_Store

/rabbitmq_deprecate_classic_queues.d
